body {
  box-sizing: border-box;
  
}

.heading-1 {
  margin-top: 20px;
  border: 1px solid;
  border-radius: 10px;
  border-color: lightgray;
  padding: 10px 10px 40px 10px;
}

.heading-1 h1 {
  font-weight: 700;
  font-size: 2.5rem;
}

.heading-1 h2 {
  font-weight: 700;
  font-size: 1.7rem;
}

.heading-1 p {
  margin-top: 20px;
  line-height: 1.7rem;
  text-align: justify;
}

.card p {
  word-break: break-word;
  overflow: hidden;
  text-align: justify;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.5rem; /* fallback */
  max-height: 80px; /* fallback */
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.typo {
  font-size: 0.7rem;
}

.hh {
  height: 10px;
  font-size: 0.9rem;
}

.icon-text {
  font-size: 0.8rem;
}

.button-size {
  width: 4rem;
  height: 4rem;

  margin: 0px 3px;
}